.container{
    margin-left: 250px;
    justify-content: center;
}
table {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 20px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    
}

th {
    background-color:#6aade8;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
